html{
    scroll-behavior: smooth;
    scroll-snap-align: center;
    
}
body
{
    
    margin: 0;
    font-family: Arial,sans-serif;
    line-height: 1.6;
    height: 100vh;
    background-color: rgba(146, 199, 241,.7)  ;
    background-size: cover;
    
    
   
}
.container
{
    width: 100%;
    height:100vh;
    
   
    
    
    
}
.navbar
{
    position:fixed;
    top:0;
    display: flex;
    width: 100%;
    height: 80px;
    background-color: rgba(247, 222, 156, 0.9);
    border-bottom: 3px solid #bbb;
    border-radius: 5px;
  
}
.navbar ul
{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: right;
    padding-right: 15%;
    
    
    
}
.navbar ul li 
{
   margin: 0 1rem;
   padding: 1rem;
   border-top: 1px solid rgb(95, 88, 88);
   transition: border-width .1s ease-in-out;
   
   
  
}
.navbar ul li a
{
   text-decoration: none;
   text-transform: uppercase;
   font-weight: 700;
    color: rgb(21, 57, 112);
    
   

}

.navbar ul li:hover
{
   
   border-bottom: 3px solid rgb(95, 88, 88);
   border-radius: 2px;

}

#Home
{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height:100vh;
    text-transform: uppercase;
    font-size: 230%;
    font-weight: 800;
    color: rgb(64, 71, 82);
    border-bottom: 8px solid #bbb;
    border-radius: 5px;
    
}
#Home p
{
   font-weight:200;
   font-size: 50%;
   opacity: .9 ;
}
#Home i
{
  
   font-size: 35%;
   padding-right: 70%; 
   padding-top:15%;
   color: rgb(173, 33, 33);
   
   
}

    
.Logo
{
    position: fixed;
    display: block;
    justify-content: left;
}


#CMSPage
{
    display: flex;
    flex-direction: column;
    padding-top: 3%;
    justify-content: center;
    align-items: center;
    border-bottom: 8px solid #bbb;
    border-radius: 5px;
   
}

    


#CMSForm
{
    display: block;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color:black;
    border-width: 2px;
}




.MDetail
{
    
justify-content: left;
padding-left: 1%;
padding-right: 2%;
padding-top: 50%;
font-size: large;

    
}
.MDetail li 
{
    
    margin: 0;
	padding: 10px 0 1px 30px;
	list-style: none;
	background-image: url(./Images/LogoS.png);
	background-repeat: no-repeat;
	background-position: left ;
	background-size: 20px;
    
}
.modal
{
    background-color: rgba(0,0,0,0.4);
    color: white;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    
}
.modalContent
{
    
    display:flex;
    align-items: center;
    height:100%;
    width: 100%;
    
}
.EDI
{
    display: block;
    align-items: center;
    justify-content: center;
    padding-top: 12%;
    padding-left: 2.5%;
    
}
.Exit
{
    justify-content: right;
    

}




