

.Loop2010BB
{
    display:flex;
    border-style: solid;
    width: fit-content;
    background-color: darkgrey;
    font-size: large;
  
}
.Segments
{

    background-color: cadetblue;
    border-style: solid;
    padding-left: 1%;
}
.NM101
{
    border-style: solid;
}
.NM102
{
    border-style: solid;
}
.NM103
{
    border-style: solid;
}
.NM108
{
    border-style: solid;
}
.NM109
{
    border-style: solid;
}
.Content
{
    display: inline;
    width: 10rem;
    height: 10rem;
    background-color: beige;
}